*
{
    font-family: Century Gothic, Arial;
    margin: 0;
    padding: 0;
}
body
{
    background-color: BlanchedAlmond;
}
header, footer
{
    background-color: Sienna;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 130%;
    clear: both;
}
.lewy
{
    background-color: NavajoWhite;
    margin: 10px;
    padding: 20px;
    width: 35%;
    height: 400px;
    box-shadow: 5px 5px 10px dimgray;
    clear: both;
    float: left;
}
nav
{
    width: 50%;
    height: 50%;
    text-align: center;
    float: left;
    
}
.prawy
{
    width: 50%;
    height: 420px;
    overflow: auto;
    float: left;
    margin-left: 219px;
    margin-top: 50px;
}
input, button
{
    margin-top: 20px;
}
li
{
    display: inline-block;
}
img
{
    width: 10%;
    float: left;
}
a
{
    color: Sienna;
    margin-right: 30px;
    clear: both;
}
a:hover
{
    color: #4C1900;
}