*
{
    font-family: Garamond;
    margin: 0;
}
header
{
    background-color: tomato;
    color: white;
    text-align: center;
    width: 80%;
    height: 80%;
}
main
{
    height: 80%;
    width: 80%;
    float: left;
}
.boczny
{
    background-color: coral;
    width: 20%;
    height: 680px;
    float: left;
    margin-top: -37px;
}
footer
{
    background-color: tomato;
    color: white;
    text-align: center;
    clear: both;
}
img
{
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
}
.chat
{
    border: 1px solid tomato;
    margin: 15px;
    height: 470px;
    overflow: scroll;
}
.krzysiek, .jolanta
{
    border-radius: 5px;
    width: 90%;
    height: 70px;
    margin: 2%;
    padding: 3px;
}
.jolanta
{
    background-color: #EEE;
    float: left;
    
}
.krzysiek
{
    background-color: #ccc;
    float: right;
    
}
.krzysiek img
{
    float: right;
}
.krzysiek p
{
    float: right;
    margin-top: 1.2%;

}
.jolanta img
{
    float: left;
}
.jolanta p
{
    float: left;
    margin-top: 1.2%;
}
.wiadomosci
{
    clear: both;
}
button
{
    background-color: tomato;
    border: DarkRed 1px solid;
    padding: 5px;
    font-weight: bold;
}